extends layout

block content
  h1= title
  - let items = results;
  p Below are some cake search results:

  //- Step 1: Define sample data using unbuffered server-side code
  

  //- Step 2 & 3: Bootstrap grid structure
  .container-fluid
    .row
      each cake in items
        .col-sm-4.border.p-2
          h3 Name:#{cake.name}
          p Flavors: #{cake.flavors}
          p Price: $#{cake.price}

  //- Step 8: Add a hyperlink back to the home page
  p
    a(href="/") Back to Home
